<h1><%= @restaurant.name %></h1>

<ul>
  <li>Address: <strong><%= @restaurant.address %></strong></li>
  <li>Category: <strong><%= @restaurant.category %></strong></li>
  <li>Phone Number: <strong><%= @restaurant.phone_number %></strong></li>
  <li>Review:</li>
  <ul>
    <% @restaurant.reviews.each do |review| %>
    <li><%= review.content %></li>
    <li><strong><%= review.rating %>/5</strong></li>
    <br>
    <% end %>
  </ul>

  <div class="container">
    <div class="row">
      <div class="col">
        <h2>Write a new review</h2>

      <%= simple_form_for [ @restaurant, @review ] do |f| %>
        <%= f.input :content %>
        <%= f.input :rating %>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
</ul>

<%#= link_to 'Leave a review', new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
<br>
<br>
<%= link_to "Back to restaurant list", restaurants_path, class: "btn btn-primary" %>
